{% extends "encyclopedia/layout.html" %}

{% block title %}
    Entry
{% endblock %}

{% block body %}
    <form action="{% url 'encyclopedia:editPage' %}" method="POST" id="main_form">
        <textarea name="entryField" class="textAreaDisplay" readOnly="true" id="content">{{ entry }}</textarea>
        {% csrf_token %}
    </form>
        <button id="EditButton" class="btn btn-primary" onclick="changereadOnly()">Edit</button>
        
{% endblock %}

{% block script %}
<script>
    editButton = document.getElementById("EditButton");
    textArea = document.getElementById("content");
    document.addEventListener("DOMContentLoaded", () => {
        var text = document.getElementById('content');
        text.style.height = text.scrollHeight+'px';
    })
    
    function changereadOnly()
    {
        if (editButton.innerHTML === "Edit")
        {
            editButton.innerHTML = "Save";
            textArea.readOnly = false;
        }
        else
        {
            document.getElementById("main_form").submit();
            editButton.innerHTML = "Edit";
            textArea.readOnly = true;

        }
       
    }


</script>
{% endblock %}